<bajake>
<g1 downloadnow="http://www.bajakestudios.com/bajake/Drone3.jpg" downloadnow_goto="https://play.google.com/store/apps/details?id=com.funfree2dgames.dronetaxi"/>
<g2 downloadnow="http://www.bajakestudios.com/bajake/Ship3.jpg" downloadnow_goto="https://play.google.com/store/apps/details?id=com.alp.shipgamessimulator"/>
<g3 downloadnow="http://www.bajakestudios.com/bajake/Train3.jpg" downloadnow_goto="https://play.google.com/store/apps/details?id=com.alp.traingamesfreesimulator"/>
</bajake>
